<section class="contact">
  <h1>Contacto</h1>

  <div class="contact-info">
    <div class="contact-card">
      <i class="fas fa-phone icon"></i>
      <p>+506 7280-6313</p>
    </div>
    <div class="contact-card">
      <i class="fas fa-envelope icon"></i>
      <p>sugarnailspacr&#64;gmail.com</p>
    </div>
    <div class="contact-card">
      <i class="fab fa-instagram icon"></i>
      <p>
        <a href="https://www.instagram.com/sugarbeautyspacr/" target="_blank">Instagram</a> | 
        <a href="https://www.facebook.com/sugarbeautyspacr/?locale=es_LA" target="_blank">Facebook</a>
      </p>
    </div>
  </div>

  <div class="map-container">
    <iframe [src]="mapUrl" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>

